<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form Register</h1>

    <form action="/course/form" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name">

        <label for="duration">Duration:</label>
        <input type="radio" name="duration" value="60"> <label>60 Menit</label>
        <input type="radio" name="duration" value="90"> <label>90 Menit</label>
        <input type="radio" name="duration" value="120"> <label>120 Menit</label>

        <label for="category">Category:</label>
        <select name="category">
            <option value="Manual">Manual</option>
            <option value="Matic">Matic</option>
            <option value="Hybrid">Hybrid</option>
        </select>

        <label for="email">Email:</label>
        <input type="text" name="email">

        <input type="submit" value="submit">
    </form>
</body>
</html>